
<!-- Footer section -->
<section class="footer-section">
    <div class="container">
        <div class="footer-logo text-center">
            <a href="index.html"><img src="./img/logo-light.png" alt=""></a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>О нас</h2>
                    <p>В нашем магазине можно заказать футболку с собственным дизайном или найти подходящий вариант среди тысяч готовых. Выбирайте остроумные или злободневные надписи, шуточные рисунки или изображения знаменитостей, популярные k-pop. Для удобства выбора принты разделены по тематическим категориям.</p>
                </div>
            </div>
         </div>
      </div>

</section>
<!-- Footer section end -->
<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/main.js"></script>

