	<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg=@Url.Content("~/Content/img/bg.jpg")>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Создай свой стиль здесь</span>
                        <h2>СОБСТВЕННЫЙ ДИЗАЙН</h2>
                        <p>Теперь одежда это средство самовыражения для людей любого возраста и социального положения. Ходить в одинаковых вещах базовых цветов можно на работу и официальные встречи. В неформальной обстановке люди предпочитают носить яркие модели с затейливыми принтами.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg=@Url.Content("~/Content/img/bg-2.jpg")>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Создай себя сам</span>
                        <h2>УНИКАЛЬНЫЙ СТИЛЬ</h2>
                        <p>В нашем магазине можно заказать футболку с собственным дизайном или найти подходящий вариант среди тысяч готовых. Выбирайте остроумные или злободневные надписи, шуточные рисунки или изображения знаменитостей, популярные k-pop. Для удобства выбора принты разделены по тематическим категориям. Выйди из рамок! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>
<!-- Hero section end -->

<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/main.js"></script>

