@model print_studio.Models.PrintOrder

@{
    ViewBag.Title = "Create";
}

@Html.Partial("_banner")
    <h2>Спасибо за заказ, в ближайшее время с вами свяжется наш менеджер</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
